@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
html, body {
    height: 100%; /* Ensure that the body takes the full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden;/* Enable vertical scrolling if content exceeds viewport height */
}

/* Reset some default browser styles */
body, h1, h2, p, ul, li, button, input {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #0078d4;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav button {
    padding: 10px 20px;
    background-color: #005a9e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #004e8a;
}

main {
    padding: 10px;
}

iframe {
    width: 100%;
    height: 1100px;
    border: none;
    position: relative;
    top: -110px;
}

/* Add more CSS styles for your footer and other elements as needed. */
/* Logo style */
#logo {
    position: relative;
    top: 30px;
    right: -1700px;
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    color: #1A73E8;
    
    z-index: 999; /* Set a high z-index value */
}

/* Apply the logo style */

#Updates {
    text-align: center; /* Center the text horizontally */
    position: relative;
    top: 1200px;
    background-color: #1A73E8; /* Background color for the footer */
    color: white; /* Text color */
    padding: 10px; /* Add some spacing around the text */
}
#Updates-List{
    text-align: left;
    position: relative;
    top: 1200px;
    padding-top: 30px;
    padding-left: 30px;
}
.Header-Update{
    text-align: center;
}